<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Cloud Network Traffic Visualization</title>
  <meta name="description" content="">
  <meta name="author" content="Daniel Chafamo">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
  <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>

  {% load staticfiles %}

  <link rel="stylesheet" href="{% static 'netvis/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'netvis/css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static 'netvis/css/index.css' %}">

  <!-- <link rel="icon" type="image/png" href="{% static 'netvis/images/net*works.png' %}"> -->

  {% block head %}{% endblock head %}
</head>
<body style="background-color:'#FFFAF0';">

    <div class="container">
      <!-- <form id="target">
        <div class="row"> 
          <div class="four columns" style="margin-top: 2%"></div>
          <div class="four columns" style="margin-top: 2%"> 
              <input type="search" class="u-full-width" placeholder="Patient ID" id="patientID" required>
          </div>  
          <div class="four columns noleftmargine" style="margin-top: 2%">
            <button id="submitid" type="submit" class="button-primary search"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form> -->
      <div class="row"> 
        <div class="graphblock" id="graph"> </div> 

      </div>
    </div>
  
    <!-- STYLES AND SCRIPTS -->  
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src='http://d3js.org/d3.v4.min.js'></script> 
    <script type="text/javascript" src="{% static 'netvis/js/StaticGraph2.js' %}" ></script>
    <script type="text/javascript" src="{% static 'netvis/js/index.js' %}" ></script> 
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>

